html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    /* font-family: "Source Han Sans JP", sans-serif !important; */
}
/* styles/globals.css */
@font-face {
    font-family: "Noto Sans JP";
    src: url("/fonts/noto-sans-jp/NotoSansJP-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Noto Sans JP", sans-serif;
}
.hidden-scroll::-webkit-scrollbar {
    display: none;
}
.hidden-scroll {
    -ms-overflow-style: none; /* IE và Edge */
    scrollbar-width: none; /* Firefox */
}

.fade-text {
    -webkit-mask-image: linear-gradient(to right, black 50%, transparent 100%);
    mask-image: linear-gradient(to right, black 50%, transparent 100%);
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    color: black;
}
img,
video {
    height: 100%;
}
.ant-switch-checked {
    background-color: #222222 !important;
}
